<div class='statistics-container'>
  <div *ngIf='!loaded' class='spinner-container'>
    <mat-spinner color="accent"></mat-spinner>
  </div>
 
  <ngx-charts-pie-chart
    [view]="[250, 400]"
    [scheme]=""
    [results]="single"
    [gradient]="false"
    [legend]="true"
    [legendPosition]="'below'"
    [labels]="false"
    [doughnut]="true"
    [animations]="true"
    [legendTitle]="'Legenda'"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
    *ngIf='loaded'
  >
  </ngx-charts-pie-chart>
  <app-button
    buttonType="mat-button"
    label="Powrót"
    icon="fas fa-backward"
    [routerLink]="['/app']"
  ></app-button>
</div>
