@import "variables";

.button {
  color: $color-text;
  min-width: 38px;
  width: 100%;

  &.fab {
    min-width: unset;
    height: 56px;
    width: 56px;
  }

  &.invalid {
    border: 2px solid $color-invalid;
    color: $color-invalid;
  }
}
