<div class="menu">
  <div *ngIf='name' class="menu-header" @fadeIn>
    Witaj, {{ name }}!
  </div>
  <app-button
    class="menu__item"
    buttonType="mat-button"
    label="Statystyki"
    icon="fas fa-chart-pie"
    [routerLink]="['/app', 'statistics']"
  >
  </app-button>
  <app-button
    class="menu__item"
    buttonType="mat-button"
    label="Ustawienia"
    icon="fas fa-cog"
    [routerLink]="['/app', 'settings']"
  >
  </app-button>
  <app-button
    class="menu__item"
    buttonType="mat-button"
    label="Wyloguj"
    icon="fas fa-sign-out-alt"
    (click)='logout()'
  >
  </app-button>
</div>
