.menu {
  flex-direction: column;
  margin-top: 50%;
  display: flex;

  &__item {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.menu-header {
  position: absolute;
  top: 1em;
  left: 1em;
}
