<div class="menu">
  <app-button
    class="menu__item"
    buttonType="mat-button"
    label="Statystyki"
    icon="fas fa-chart-pie"
    [routerLink]="['/app', 'statistics']"
  >
  </app-button>
  <app-button
    class="menu__item"
    buttonType="mat-button"
    label="Ustawienia"
    icon="fas fa-cog"
    [routerLink]="['/app', 'settings']"
  >
  </app-button>
  <app-button
    class="menu__item"
    buttonType="mat-button"
    label="Wyloguj"
    icon="fas fa-sign-out-alt"
    [routerLink]="['/']"
  >
  </app-button>
</div>
